.box {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  flex-basis: auto;
  justify-content: center;
  align-items: flex-start;
}

.box > .item {
}

.container {
  display: grid;
  /* fr : fraction = 비율, 1fr 1fr 1fr == repeat(3, 1fr) */
  grid-template-rows: 200px 200px 500px;
  grid-template-columns: 200px 200px 500px;
  gap: 10px 20px;
  grid-column: 1 /3;
  /* row-gap: 10px; column-gap: 20px; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}
