.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Nunito";
}
.appbar {
  background: none;
  font-family: "Nunito";
}

.appbarWrapper {
  width: 80%;
  margin: 0 auto;
}

.appbarTitle {
  flex-grow: 1;
  /* 플렉스 그로우는 0보다 크면 플렉스 박스로 바뀌고, 해당 엘리먼트가 나머지 모든 공간 차지한다. */
}

.colorText {
  color: #5aff3d;
  /* 플렉스 그로우는 0보다 크면 플렉스 박스로 바뀌고; 해당 엘리먼트가 나머지 모든 공간 차지한다. */
}

.icon {
  color: #fff;
  font-size: 1rem;
}
.container {
  text-align: center;
}

.title {
  color: #fff;
  font-size: 3rem;
}

.goDown {
  color: #5aff3d;
  font-size: 2 rem;
}