.root {
  max-width: 645px;
  /* max-width: 40.3125rem; */
  background: rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.media {
  /* height: 27.5rem; */
  height: 440px;
}

.title {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.description {
  font-family: "Nunito";
  /* font-weight: bold; */
  font-size: 1.1rem;
  color: #ddd;
}
